# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/rzndwbco/bot.rzndwb.com"
PassengerBaseURI "/"
PassengerPython "/home/rzndwbco/virtualenv/bot.rzndwb.com/3.6/bin/python3.6"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
